/* Rectangle 31 */

.childContainer{
background-image: url(../../dotBackground.jpg);
}

.parentContainer{
  background-color: #FEFFF0;
}
.KidButton{
  color: #FFFFFF;
  font-family: Fjalla One;
  font-size: x-large;
  font-weight: 500;
  background:none;
  border:none;
}
.circleYellow {
  float: left;
    width: 211px;
    height: 211px;
    border-radius: 50%;
    display: inline-block;
    background: #F6FA3C;

  }
  .circleBlue {
    float: left;
    width: 211px;
    height: 211px;
    border-radius: 50%;
    display: inline-block;
    background: #1B618E;

  }
  .circleRed {
    width: 211px;
    height: 211px;
    border-radius: 50%;
    display: inline-block;
    background: #DB323B;

  }
  .circleOrange {
    width: 211px;
    height: 211px;
    border-radius: 50%;
    display: inline-block;
    background: #E57319;

  }

