.childContainer {
  background-image: url(https://wallpapertag.com/wallpaper/full/a/3/c/128830-widescreen-polka-dot-wallpaper-1920x1080-for-phones.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

.choretxt {
  background: #E57319;
  color:#FEFFF0;
  padding: 5px
}

.parentContainer {
  background-color: #FEFFF0;
}


.children-cards {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.KidButton {
  color: #FFFFFF;
  font-family: Fjalla One;
  font-size: x-large;
  font-weight: 500;
  background: none;
  border: none;
}

.circleYellow {
  float: left;
  width: 211px;
  height: 211px;
  border-radius: 50%;
  display: inline-block;
  background: #F6FA3C;
}

.circleBlue {
  float: left;
  width: 211px;
  height: 211px;
  border-radius: 50%;
  display: inline-block;
  background: #1B618E;
}

.circleRed {
  width: 211px;
  height: 211px;
  border-radius: 50%;
  display: inline-block;
  background: #DB323B;
}

.circleOrange {
  float: left;
  width: 211px;
  height: 211px;
  border-radius: 50%;
  display: inline-block;
  background: #E57319;
}

#childFooterLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.childFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.parentFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}