/* Rectangle 31 */

body{
background-color: #149A21;
}

.KidButton{
  color: #FFFFFF;
  font-family: Fjalla One;
  font-size: x-large;
  font-weight: 500;
  background:none;
  border:none;
}
.circleYellow {
  float: left;
    width: 211px;
    height: 211px;
    border-radius: 50%;
    display: inline-block;
    background: #F6FA3C;

  }
  .circleBlue {
    float: left;
    width: 211px;
    height: 211px;
    border-radius: 50%;
    display: inline-block;
    background: #1B618E;

  }
  .circleRed {
    width: 211px;
    height: 211px;
    border-radius: 50%;
    display: inline-block;
    background: #DB323B;

  }
  .circleOrange {
    width: 211px;
    height: 211px;
    border-radius: 50%;
    display: inline-block;
    background: #E57319;

  }

.childContainer{
  margin: auto
}


/* Balance */

.balance{
/* position: absolute; */
width: 122px;
height: 50px;
left: 41px;
top: 70px;

font-family: Fjalla One;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 50px;

/* color: #FFFFFF; */
}


/* Goals */

.goals{
position: absolute;
width: 84px;
height: 50px;
left: 228px;
top: 267px;

font-family: Fjalla One;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 50px;

color: #FFFFFF;
}


/* Jobs */

.jobs{
position: absolute;
width: 71px;
height: 50px;
left: 81px;
top: 481px;

font-family: Fjalla One;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 50px;

color: #FFFFFF;

}

/* Alerts */

.alert{
position: absolute;
width: 92px;
height: 50px;
left: 144px;
top: 731px;

font-family: Fjalla One;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 50px;

color: #FFFFFF;
}
